//Whole style settings
* {
    margin: 0%;
    color: #ffffff;
    background-color: #202c37;
}

nav {
    background-color: #2b3945;
}

//Searching part style settings

.searching-part {
    width: 100%;
    .searching-part-form{
        position: relative;
        .searching-part-icon {
            position: absolute;
            top: 50%;
            left: 13%;
            background-color: #2b3945;
        }
        .searching-part-inpt {
            width: 70%;
            margin: 5% 5% 0% 5%;
            padding: 1% 0% 1% 20%;
            background-color: #2b3945;
            height: 3em;
            border-radius: 5px;
        }
    }
    .searching-part-slc{
        width: 55%;
        margin: 10% 5%;
        padding: 0% 5%;
        background-color: #2b3945;
        height: 3.5em;
        border-radius: 5px;
        border: none;
        .searching-part-slc-op {
            border-radius: 5px;
            border: none;
        }
    }
    }

    @media screen and (min-width: 376px) and (max-width: 1440px) {
        .searching-part {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0% 0% 3% 0%;
            .searching-part-form{
                position: relative;
                width: 48%;
                margin: 0% 0% 0% 5%;
                .searching-part-icon {
                    position: absolute;
                    top: 40%;
                    left: 5%;
                }
                .searching-part-inpt {
                    margin: 0%;
                    padding: 0% 0% 0% 10%;
                    height: 3em;
                }
            }
            .searching-part-slc{
                width: 15%;
                margin: 0% 5% 0% 0%;
                padding: 0%;
                height: 3rem;
            }
        }
    }

//Country's cards part style settings

.container {
    .countries-part-cards {
        height: 350px;
        margin: 0% 15% 10% 15%;
        .countries-img {
            height: 45%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #ffffff;
        }
        .countries-information-part {
            background-color: #2b3945;
            height: 55%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 21.25%);
        gap: 5%;
        margin: 0% 5%;
        .countries-part-cards {
            height: 300px;
            width: 100%;
            margin: 0%;
            .countries-img {
                height: 45%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: #0000ff;
            }
            .countries-information-part {
                background-color: #ffffff;
                height: 55%;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

