* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background-color: #202c37;
  background-color: var(--body-background-color);
  font-family: 'Nunito Sans', sans-serif;
}



@media screen and (max-width: 376px) {
  body {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100vw;
    padding-left: 1rem;
    height: 4.5rem;
    background-color: var(--element-background-color);

    a {
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: 800;
      color: var(--text-color);
    }

    button {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    
    .country-data-container{
      .country-flag {
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 70%;
        }
        margin: 0.5rem 0 2rem 0;
        height: 12rem;
      }

    }
    .back-button {
      font-size: 0.85rem;
      width: fit-content;
      text-decoration: none;
      color: var(--text-color);
      font-weight: 300;
      padding: 0.25rem 1.75rem;
      margin: 2rem 1rem;
      border-radius: 0.25rem;
    }


    #country-name {
      font-weight: 800;
      color: var(--text-color);
      margin: 0.5rem 1rem;
    }

    .placeholder {
      color: var(--text-color);
      font-weight: 600;
      font-size: 0.9rem;
      margin: 0.5rem 1rem;

    }

    .placeholder-content {
      font-weight: 300;
    }

    h3 {
      margin: 0.5rem 1rem;
      font-weight: 600;
      font-size: 1rem;
      color: var(--text-color);
    }

    .border-countries {
      display: flex;
      flex-wrap: wrap;
      margin: 0.5rem 1rem;

      .border-country-button {
        text-decoration: none;
        padding: 0.25rem 1.25rem;
        margin: 0.5rem 0.75rem;
        border-radius: 0.25rem;
      }

    }
  }
}

@media screen and (min-width: 376px) {

  .header {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    height: 5rem;
    width: 100vw;
    background-color: var(--element-background-color);

    a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 800;
      color: var(--text-color);
    }

    button {
      display: none;
    }
  }

  .content {
    padding-left: 4rem;

    .back-button {
      display: inline-block;
      padding: 0.5rem 2rem;
      text-decoration: none;
      color: var(--text-color);
      width: fit-content;
      margin: 2.5rem 0;
      border-radius: 0.25rem;

    }

    .country-container {
      display: flex;
      flex-direction: column;
      width: 50vw;
    }

    .country-flag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem;
      width: 50vw;
      img {
        height: 320px;
      }
    }

    .country-data-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .country-data {
        display: flex;
        flex-direction: row;



        #country-name {
          font-weight: 800;
          color: var(--text-color);
          margin: 0.5rem 1rem;
        }

        .placeholder {
          color: var(--text-color);
          font-weight: 600;
          font-size: 0.9rem;
          margin: 0.5rem 1rem;

        }

        .placeholder-content {
          font-weight: 300;
        }
      }

      .secondary-data {
        padding-top: 2.5rem;
        width: 50%;


      }

      h3 {
        margin: 3rem 1rem 0.5rem 1rem;
        font-weight: 600;
        font-size: 1rem;
        color: var(--text-color);
      }

      .border-countries {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem 1rem;

        .border-country-button {
          text-decoration: none;
          padding: 0.25rem 1.25rem;
          margin: 0.5rem 0.75rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
}