* {
    margin: 0;
    padding: 0;
}

.nav__link {
    // display: none;
}

#nameHP {
    font-size: 24px;
}

#headerHP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.07);
}

#backgroundImage {
    width: 100%;
    height: 700px;
    background-image: url(./homepage/czech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

#rectangle {
    height: 600px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.563);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.893);
    margin:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
        height: 70%;
        width: 70%;

    }
    #country {
        display: flex;
        height: 75%;
        width: 75%;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.893);
    }
}

#explore {
    margin: 25px;
    font-size: 20px;
    border-radius: 5px;
    line-height: 2em;
    padding: 10px 30px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid white;
    transition: 300ms ease 0ms;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.893);
    &:hover {
      cursor: pointer;
      border: 2px solid rgba(255, 255, 255, 0);
      box-shadow:0 2px 6px 0 rgba(255, 255, 255, 0.893);
      transition: 300ms ease 0ms;
    }
}

#footerHP {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 80px;
    text-align: center;

}
