* {
    margin: 0%;
    color: #ffffff;
}

nav {
    background-color: #2b3945;
}

.countries-home {
    background-color: #202c37;
    padding: 0% 5%;
}
.searching-part {
    display: flex;
    justify-content: space-between;
    height: 120px;
    .searching-part-inpt {
        margin-top: 30px;
        background-color: #2b3945;
        height: 3em;
        border-radius: 10px;
        padding: 2% 210% 2% 5%;
    }
    .searching-part-slc{
        margin-top: 30px;
        background-color: #2b3945;
        height: 3em;
        border-radius: 10px;
        border: none;
    }
    }

.container {
    display: grid;
    grid-template-columns: repeat(4, 21.25%);
    gap: 5%;
    .countries-part-cards {
        height: 300px;
        .countries-img {
            height: 45%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #ffffff;
        }
        .countries-information-part {
            background-color: #2b3945;
            height: 55%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}


