* {
  margin: 0;
  padding: 0;
}

#headerHP {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
}

#backgroundImage {
  width: 100%;
  height: 700px;
  background-image: url(./homepage/germany.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#rectangle {
  height: 600px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.41);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  margin: 50px;
}

#explore {
  font-size: 17.5px;
  border-radius: 5px;
  line-height: 2em;
  padding: 0.3em 1em;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
}
#explore:hover {
  cursor: pointer;
  border: 2px solid white;
  transition: 300ms ease 0ms;
}

#footerHP {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 80px;
}

* {
  margin: 0%;
  color: #ffffff;
  background-color: #202c37;
}

nav {
  background-color: #2b3945;
}

.searching-part {
  width: 100%;
}
.searching-part .searching-part-form {
  position: relative;
}
.searching-part .searching-part-form .searching-part-icon {
  position: absolute;
  top: 50%;
  left: 13%;
  background-color: #2b3945;
}
.searching-part .searching-part-form .searching-part-inpt {
  width: 70%;
  margin: 5% 5% 0% 5%;
  padding: 1% 0% 1% 20%;
  background-color: #2b3945;
  height: 3em;
  border-radius: 5px;
}
.searching-part .searching-part-slc {
  width: 55%;
  margin: 10% 5%;
  padding: 0% 5%;
  background-color: #2b3945;
  height: 3.5em;
  border-radius: 5px;
  border: none;
}
.searching-part .searching-part-slc .searching-part-slc-op {
  border-radius: 5px;
  border: none;
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
  .searching-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0% 0% 3% 0%;
  }
  .searching-part .searching-part-form {
    position: relative;
    width: 48%;
    margin: 0% 0% 0% 5%;
  }
  .searching-part .searching-part-form .searching-part-icon {
    position: absolute;
    top: 40%;
    left: 5%;
  }
  .searching-part .searching-part-form .searching-part-inpt {
    margin: 0%;
    padding: 0% 0% 0% 10%;
    height: 3em;
  }
  .searching-part .searching-part-slc {
    width: 15%;
    margin: 0% 5% 0% 0%;
    padding: 0%;
    height: 3rem;
  }
}
.container .countries-part-cards {
  height: 350px;
  margin: 0% 15% 10% 15%;
}
.container .countries-part-cards .countries-img {
  height: 45%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
}
.container .countries-part-cards .countries-information-part {
  background-color: #2b3945;
  height: 55%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 21.25%);
    gap: 5%;
    margin: 0% 5%;
  }
  .container .countries-part-cards {
    height: 300px;
    width: 100%;
    margin: 0%;
  }
  .container .countries-part-cards .countries-img {
    height: 45%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0000ff;
  }
  .container .countries-part-cards .countries-information-part {
    background-color: #ffffff;
    height: 55%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}/*# sourceMappingURL=index.css.map */