* {
  margin: 0;
  padding: 0;
}

#nameHP {
  font-size: 24px;
}

#backgroundImage {
  width: 100%;
  height: 700px;
  background-image: url(./homepage/czech.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 2s ease;
}
@media screen and (max-width: 600px) {
  #backgroundImage {
    flex-direction: column;
  }
}

#rectangle {
  height: 600px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.563);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.893);
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #rectangle {
    height: 36rem;
    width: 70%;
  }
}
#rectangle #country {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 75%;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.893);
  background-color: white;
}
@media screen and (max-width: 600px) {
  #rectangle #country {
    height: 30rem;
    width: 70%;
  }
}
#rectangle #country #flagContainer {
  width: 100%;
  height: 12rem;
}
#rectangle #country #flagHP {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
#rectangle #country #countryNameHP {
  font-weight: 800;
  font-size: 2em;
  color: black;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  #rectangle #country #countryNameHP {
    height: 70%;
    width: 70%;
  }
}
#rectangle #country #populationHP {
  font-size: 1em;
  color: black;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  #rectangle #country #populationHP {
    height: 70%;
    width: 70%;
  }
}
#rectangle #country #regionHP {
  font-size: 1em;
  color: black;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  #rectangle #country #regionHP {
    height: 70%;
    width: 70%;
  }
}
#rectangle #country #capitalHP {
  font-size: 1em;
  color: black;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  #rectangle #country #capitalHP {
    height: 70%;
    width: 70%;
  }
}

#explore {
  margin: 25px;
  font-size: 20px;
  border-radius: 5px;
  line-height: 2em;
  padding: 10px 30px;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid black;
  transition: 300ms ease 0ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.893);
}
#explore:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.893);
  transition: 300ms ease 0ms;
}

#footerHP {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 80px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 1rem;
  height: 4.5rem;
  background-color: #ffffff;
}
.header h1 {
  font-size: 0.8rem;
  font-weight: 800;
}
.header h1 .link-home {
  color: #111517;
}
.header .header-btn {
  padding-right: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.header .header-btn .iconify {
  margin-right: 0.3rem;
  width: 12px;
  height: auto;
}

.searching-part {
  width: 100%;
}
.searching-part .searching-part-form {
  position: relative;
}
.searching-part .searching-part-form .searching-part-icon {
  position: absolute;
  top: 50%;
  left: 13%;
}
.searching-part .searching-part-form .searching-part-inpt {
  width: 90%;
  margin: 5% 5% 0% 5%;
  padding: 1% 0% 1% 20%;
  background-color: #ffffff;
  height: 3em;
  border-radius: 5px;
}
.searching-part .searching-part-slc {
  width: 55%;
  margin: 10% 5%;
  padding: 0% 5%;
  height: 3.5em;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}
.searching-part .searching-part-slc .searching-part-slc-op {
  border-radius: 5px;
  border: none;
}

@media screen and (min-width: 376px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
  }
  .header h1 {
    padding-left: 1%;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .header .header-btn {
    margin-right: 5%;
    cursor: pointer;
  }

  .searching-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3% 0%;
  }
  .searching-part .searching-part-form {
    position: relative;
    width: 35%;
    height: 3em;
    margin: 0% 0% 0% 5%;
  }
  .searching-part .searching-part-form .searching-part-icon {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .searching-part .searching-part-form .searching-part-inpt {
    margin: 0%;
    padding: 0% 0% 0% 10%;
    height: 100%;
  }
  .searching-part .searching-part-slc {
    width: 15%;
    margin: 0% 5% 0% 0%;
    padding: 0%;
    height: 3rem;
  }
}
.container .countries-part-cards {
  height: 350px;
  margin: 0% 15% 10% 15%;
}
.container .countries-part-cards .countries-image-parts {
  height: 45%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.container .countries-part-cards .countries-image-parts img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}
.container .countries-part-cards .countries-information-part {
  background-color: #ffffff;
  height: 55%;
  padding: 0% 10%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container .countries-part-cards .countries-information-part h2 {
  padding: 10% 0%;
  font-size: 18px;
}
.container .countries-part-cards .countries-information-part p {
  padding-bottom: 5%;
  font-size: 14px;
}
.container .countries-part-cards .link-viewpages {
  margin-left: 40%;
}

.country-id {
  cursor: pointer;
}

@media screen and (min-width: 376px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 20.5%);
    -moz-column-gap: 6%;
         column-gap: 6%;
    row-gap: 0.3%;
    margin: 0% 5%;
  }
  .container .countries-part-cards {
    height: 300px;
    width: 100%;
    margin: 0%;
  }
  .container .countries-part-cards .countries-image-parts {
    height: 45%;
  }
  .container .countries-part-cards .countries-image-parts img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
  }
  .container .countries-part-cards .countries-information-part {
    height: 55%;
    padding: 0% 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .container .countries-part-cards .countries-information-part h2 {
    padding: 10% 0%;
  }
  .container .countries-part-cards .countries-information-part p {
    padding-bottom: 3%;
  }
  .container .countries-part-cards .link-viewpages {
    margin-left: 35%;
  }
}
@media screen and (max-width: 376px) {
  body {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100vw;
    padding-left: 1rem;
    height: 4.5rem;
  }
  .header a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 800;
  }
  .header button {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
  .content .country-data-container .country-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 2rem 0;
    height: 12rem;
  }
  .content .country-data-container .country-flag img {
    width: 70%;
  }
  .content .back-button {
    font-size: 0.85rem;
    background-color: #ffffff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    font-weight: 300;
    padding: 0.25rem 1.75rem;
    margin: 2rem 1rem;
    box-shadow: 0px 0px 10px 0.75px rgba(0, 0, 0, 0.5019607843);
    border-radius: 0.25rem;
  }
  .content #country-name {
    font-weight: 800;
    margin: 0.5rem 1rem;
  }
  .content .placeholder {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
  }
  .content .placeholder-content {
    font-weight: 300;
  }
  .content h3 {
    margin: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .content .border-countries {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 1rem;
  }
  .content .border-countries .border-country-button {
    text-decoration: none;
    background-color: #ffffff;
    padding: 0.25rem 1.25rem;
    margin: 0.5rem 0.75rem;
    box-shadow: 0px 0px 10px 0.75px rgba(0, 0, 0, 0.5019607843);
    border-radius: 0.25rem;
  }
}
@media screen and (min-width: 376px) {
  .header {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    height: 5rem;
    width: 100vw;
  }
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .header button {
    display: none;
  }

  .content {
    padding-left: 4rem;
  }
  .content .back-button {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2.5rem 0;
    box-shadow: 0px 0px 10px 0.75px rgba(0, 0, 0, 0.5019607843);
    border-radius: 0.25rem;
  }
  .content .country-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .content .country-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    width: 50vw;
  }
  .content .country-flag img {
    height: 320px;
  }
  .content .country-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .content .country-data-container .country-data {
    display: flex;
    flex-direction: row;
  }
  .content .country-data-container .country-data #country-name {
    font-weight: 800;
    margin: 0.5rem 1rem;
  }
  .content .country-data-container .country-data .placeholder {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
  }
  .content .country-data-container .country-data .placeholder-content {
    font-weight: 300;
  }
  .content .country-data-container .secondary-data {
    padding-top: 2.5rem;
    width: 50%;
  }
  .content .country-data-container h3 {
    margin: 3rem 1rem 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .content .country-data-container .border-countries {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 1rem;
  }
  .content .country-data-container .border-countries .border-country-button {
    text-decoration: none;
    background-color: #ffffff;
    padding: 0.25rem 1.25rem;
    margin: 0.5rem 0.75rem;
    box-shadow: 0px 0px 10px 0.75px rgba(0, 0, 0, 0.5019607843);
    border-radius: 0.25rem;
  }
}/*# sourceMappingURL=index.css.map */